*.pyc
*.spec
*.cfg
*.json
release
build/
particles/
build/
build_dir/
_build/
build_test/
.qt/
mybuild/
cmake_build/
.vs/
.qtcreator/
.aider*
gameinfotestfile/
source1soundscripts/
source2soundscripts/